/*
    Estas son las variables con los colores y fuente que se usaran.

    Se usan tipo asi:

    font-family: var(--fuente);
    background-color: var(--azul);
*/
:root{
    --fuente: 'Poppins', sans-serif;
    --MarianBlue: #0C3D91;
    --White: #FFFFFF;
    --KellyGreen: #50A120;
    --ChefchaousenBlue: #3F8EFC;
    --Black: #000500;
}
/*
Quitando los margenes que tenga la pagina por defecto.
*/
*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

html{
    font-size: 62.5%; /*Eso es para poder utilizar los rem en el codigo css, es mejor que pixeles: 1rem = 10px*/
    box-sizing: border-box; /*Sirve para que el tamaño de una imagen se quede fija y no se agregue el tamaño de un padding, o no se llegue a agregar*/
}

*,*:before, *:after{ /*Tambien tiene que ver con lo del tamaño de la imagen*/
    box-sizing: inherit;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
a{
    color: var(--Black);
    text-decoration: none;
}
button{
    background-color: transparent;
    border: none;
}
p{
    line-height: 2rem;
}
.contenedor{
    margin: 0 20rem;
}

/* AQUI VA CODIGO DEL HEADER */
.navegador--contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.navegador--botones ul{
    display: flex;
    column-gap: 2rem;
    font-size: 1.4rem;
}
.imagenes{
    display: flex;
    align-items: center;
}
.logo{
    width: 5rem;
}
.letras{
    margin-top: 1rem;
    width: 25rem;
}
.donate--bottom a{
    border: 0.2rem solid var(--KellyGreen);
    padding: 1rem 1.5rem;
    transition: 300ms ease-in-out;
    border-radius: 1rem;
    color: var(--KellyGreen);
    font-weight: bold;
}
.donate--bottom a:hover{
    color: var(--White);
    background-color:var(--KellyGreen);
}
/* .navegador--boton a{
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid transparent;
    transition: 400ms ease;
}
.navegador--boton a:hover{
    color: var(--KellyGreen);
    padding-bottom: 0;
    border-bottom: 0.1rem solid var(--KellyGreen);
} */

/* Menu Hover Effects Style 5 */

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 1;
}
.loader i{
    font-size: 6rem;
    opacity: 1;
}
.loader p{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ChefchaousenBlue);
    margin: 1rem 0;
    text-align: center;
}
.navegador--boton a {
	position: relative;
	z-index: 1;
    transition: 0.4s;
}
.navegador--boton a:hover{
    color: var(--KellyGreen);
}
.navegador--boton a:before {
    position: absolute;
    content: '';
    display: block;
    z-index: -1;
    background: var(--KellyGreen);
    width: 0;
    height: 0.1rem;
    bottom: -0.5rem;
	border-radius:0.5rem;
    left: 50%;
    transition: 0.4s cubic-bezier(0.25, 0.1, 0, 2.02);
}

.navegador--boton a:hover:before {
    width: calc(100% + 0.5rem);
    left: calc(0.5rem / -2);
}

.abrir-menu, .cerrar-menu{
    display: none;
}

.donate--anunce{
    background-color: rgba(0, 0, 0, 0.774);
    height: 100vh;
}
.donate--text--con{
    margin: 0 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--White);
}

.donate--anunce--con{
    background-image: url(../img/header-foto.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.donate--text--con h3{
    text-align: center;
    font-size: 6rem;
    padding: 2rem 0;
}
.donate--text--con p{
    font-size: 1.4rem;
    text-align: center;
}
.donate--text--con a{
    margin-top: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ChefchaousenBlue);
    border: 0.1rem solid var(--ChefchaousenBlue);
    padding: 1rem 1.5rem;
    transition: 300ms ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.donate--text--con a i{
    font-size: 1.4rem;
    padding: 0 0 0 1rem;
}
.donate--text--con a:hover{
    color: var(--White);
}
.donate--text--con a::after {
    content: "";
    background:var(--ChefchaousenBlue);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.donate--text--con a:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}

/* AQUI VA CODIGO DEL MAIN */

/* Gallery style */
.gallery--tittle{
    text-align: center;
    padding: 5rem 2rem;
    font-size: 4rem;
    color: var(--ChefchaousenBlue);
}
.gallery{
    width: 140rem;
    margin: 2rem auto;
    columns: 4;
    column-gap: 2rem;
    width: calc(100% - 40px);
}
.gallery .box{
    width: 100%;
    margin-bottom: 1rem;
    break-inside: avoid;
    cursor: pointer;
    transition: 300ms;
}

.box:hover{
    opacity: 0.5;
}

.gallery .box img{
    width: 100%;
    border-radius: 1.5rem;
}
.gallery .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
.gallery .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}
.gallery .popup-image img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 750px;
    object-fit:cover;
}
.popup-image i{
    margin: 0 22rem;
    z-index: 2;
}
@media (max-width: 1200px) {
    .gallery{
        columns: 3;
    }
}

@media (max-width: 768px) {
    .gallery{
        columns: 2;
    }
    .gallery .popup-image img{
        width: 95%;
    }
    .popup-image i{
        margin: 0 0;
        z-index: 2;
    }
}
/*  */

.CardsContainer--con{
    padding: 5rem 10rem;
}
.CardsContainer--con-encabezado{
    text-align: center;
    margin-bottom: 5rem;
}
.CardsContainer--con-encabezado h5{
    font-size: 1.5rem;
    color: var(--KellyGreen);
}
.CardsContainer--con-encabezado h3{
    font-size: 4rem;
}
.CardsContainer {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.card i{
    font-size: 3rem;
    color: var(--KellyGreen);
    background-color: #4fa12048;
    padding: 2rem;
    border-radius: 50%;
}
.Content h2{
    font-size: 1.8rem;
    padding: 1rem 0 2rem 0;
}
.Content p{
    font-size: 1.4rem;
}
.card {
padding: 2rem;
text-align: center;
width: 100%;
border-radius: 0.6rem;
overflow: hidden;
background: #fff;
box-shadow: rgba(80, 161, 32, 0.2) 0px 8px 24px;
cursor: default;
transition: all 400ms ease;
}
.card:hover{
    box-shadow: rgba(80, 161, 32, 0.4) 0px 8px 24px;
    transform: translateY(-3%);
}

/*  */
.sendgirltocollege--con{
    background-color: var(--ChefchaousenBlue);
}
.sendgirltocollege{
    padding: 5rem 10rem;
    display: flex;
    gap: 2rem;
    color: var(--White);
    align-items: center;
}
.sendgirltocollege--info h3{
    font-size: 4rem;
    margin-bottom: 4rem;
}
.sendgirltocollege--info p{
    font-size: 1.4rem;
}
.sendgirltocollege--info a{
    font-size: 1.4rem;
    color: var(--White);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border: 0.2rem solid var(--White);
    transition: 300ms ease;
}
.sendgirltocollege--info a:hover{
    color: var(--ChefchaousenBlue);
    background-color: var(--White);
}

.programs{
    padding: 5rem 10rem;
    text-align: center;
}
.programs--btn-con{
    margin: 6rem 0 2rem 0;
}
.programs--btn-con a{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem 6rem;
    color: var(--KellyGreen);
    border: 0.2rem solid var(--KellyGreen);
    transition: 300ms;
}
.programs--btn-con a:hover{
    background-color: var(--KellyGreen);
    color: var(--White);
}
.programs--tittle--h3{
    color: var(--KellyGreen);
    font-size: 4rem;
    text-align: center;
    padding: 0 0 5rem 0;
}
.programs--con{
    text-align: center;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2rem;
}
.programs--items-con{
    color: var(--White);
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    background-color: #4fa120d5;
    height: 100%;
    padding: 4rem 2rem;
    border-radius: 1.5rem;
}
.university{
    background-image: url(../img/gallery/IMG_2072.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.STEM{
    background-image: url(../img/steam.JPG);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Literacy{
    background-image: url(../img/lectura.JPG);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Summer--camp{
    background-image: url(../img/gallery/IMG_2077.webp);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.programs--items{
    margin-bottom: 2rem;
    border-radius: 1.5rem;
    transition: 500ms;
}
.programs--items:hover{
    box-shadow: rgba(80, 161, 32, 0.4) 5px 5px, rgba(80, 161, 32, 0.3) 10px 10px, rgba(80, 161, 32, 0.2) 15px 15px, rgba(80, 161, 32, 0.1) 20px 20px, rgba(80, 161, 32, 0.05) 25px 25px;
}
.programs--items i{
    font-size: 8rem;
}

.programs--items-con h3{
    color: var(--White);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 0 0 2rem 0;
}

.programs--items-con p{
    font-size: 1.4rem;
}

.aboutus--tittle-con{
    background-color: var(--ChefchaousenBlue);
    color: var(--White);
    text-align: center;
    padding: 0 20rem;
}
.aboutus--tittle{
    font-size: 4rem;
    margin-bottom: 3rem;
}
.aboutus--text{
    font-size: 1.4rem;
}

.ourmission--con, .ourstory--con{
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4rem;
    align-items: center;
}
.ourstory--con{
    background-color: var(--KellyGreen);
    color: var(--White);
}
.ourmission--imgs, .ourstory--imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Espacio entre las imágenes, puedes ajustarlo según tus preferencias */
}
.ourstory--imgs{
    border: 0.2rem solid var(--White);
}
.ourmission--text h3, .ourstory--text h3{
    font-size: 4rem;
    margin: 4rem 0;
    color: var(--ChefchaousenBlue);
}
.ourstory--text h3{
    color: var(--White);
}
.ourmission--text p, .ourstory--text p{
    font-size: 1.4rem;
}
.ourmission--image {
    height: 25rem; /* Ajusta la altura según tus necesidades */
    background-size: cover;
    border-radius: 1rem;
}
.image1 {
    background-image: url('/img/IMG_2154.JPG');
    background-position: center;
}
.image2 {
    background-image: url('/img/IMG_2124.JPG');
    background-position: center;
}
.image3 {
    background-position: center;
    grid-column: span 2; /* Ocupa el ancho completo de las dos columnas */
    background-image: url('/img/ninos2.jpg');
}

.time-line{
    position: relative;
    max-width: 1200px;
    margin: 0 auto ;
    overflow: hidden;
}
.time-line--tittle{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 4rem;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear both;
    opacity: 0;
}
@keyframes  movedown {
   0%{
    opacity: 1;
    transform: translateY(-30px);
   }
  100%{
    opacity: 1;
    transform: translateY(0px);
   }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 1s;
}
.container:nth-child(3){
    animation-delay: 2s;
}
.container:nth-child(4){
    animation-delay: 3s;
}
.container:nth-child(5){
    animation-delay: 4s;
}
.container:nth-child(6){
    animation-delay: 5s;
}
.text-box{
    color: var(--White);
    padding: 5rem;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.text-box1{
    background-color: var(--ChefchaousenBlue);
}
.text-box2{
    background-color: var(--KellyGreen);
}
.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.time-line::after{
    position: absolute;
    content:'';
    width: 4px;
    height: 100%;
    background:var(--Black);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear both;
}
@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.text-box h2{
    font-weight: 600;
    font-size: 3rem;
}
.timeline--fecha{
    color: var(--Black);
    font-weight: 600;
    font-size: 3rem;
    padding: 3.5rem 0;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--ChefchaousenBlue);
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid var(--KellyGreen);
    left: -15px;
}

.kids--con{
    padding: 4rem 0;
}
.kids--text{
    text-align: center;
}
.kids--text h3{
    font-size: 4rem;
}
.kids--text p{
    font-size: 1.5rem;
    color: var(--ChefchaousenBlue);
    font-weight: bold;
}

/* CSS de contactos */

.fomulario {
    padding: 8rem 10rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
}

.contactus--tittle-con{
    background-image: url(../img/img4.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}
.contactus--tittle{
    background:rgba(0, 0, 0, 0.61);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--White);

}
.contactus--tittle h2{
    font-size: 6rem;
}
.contactus--tittle h2 span{
    color: var(--ChefchaousenBlue);
}

.contact--info{
    background-color: var(--ChefchaousenBlue);
    color: var(--White);
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text--info h3{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.text--info i{
    font-size: 2rem;
}
.redes--info{
    border-top: 0.2rem solid var(--White);
    padding-top: 2rem;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.redes--info h3{
    font-size: 1.5rem;
}

.redes--link a{
    color: var(--White);
    font-size: 2.5rem;
    margin: 0 2rem;
}
.cantact--text{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    margin: 1rem 0;
}
label{
    color: var(--ChefchaousenBlue);
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    display: block;
}
textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 10rem;
    max-height: 20rem;
}
input,textarea {
    flex: 1;
    font-size: 1.4rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 0.596);
    outline: none;
    margin-bottom: 2rem;
    width: 100%;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.btn {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
    border-radius: 1rem;
    cursor: pointer;
    width: 100%;
    padding: 1.5rem;
    border: 0.2rem solid var(--ChefchaousenBlue);
    color: var(--ChefchaousenBlue);
    background-color: var(--White);
    transition: 300ms ease-in;
}
.btn:hover{
    background-color: var(--ChefchaousenBlue);
    color: var(--White);
}

/* responsive de contactos */
/* @media screen and (max-width: 768px) {
    #contact-us {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .fomulario {
        flex: auto;
      margin: 0;
      max-width: 600px;
    }

    form {
      padding: 50px 25px;
      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      padding: 17px 15px;
      margin-bottom: 15px;
      width: calc(100% - 30px);
    }

    .from-txt {
      margin-bottom: 20px;
      flex-direction: column;
    }

    .from-txt a {
      margin-bottom: 10px;
    }

    .btn {
      padding: 15px;
    }

    .map {
      display: none;
    }
    .ubic{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
     display: block;
    }
} */
.programs--tittle{
    text-align: center;
    padding: 4rem 0;
    font-size: 4rem;
    color: var(--White);
    background-color: var(--KellyGreen);
}
.programa1--club, .programa2--club{
    padding: 5rem 10rem;
}
.programa1--club-con, .programa2--club-con{
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8rem;
    align-items: center;
}

.programa1--club-tittle, .programa2--club-tittle{
    font-size: 3rem;
    padding: 2rem 0;
    margin: 4rem 0;
    color: var(--KellyGreen);
    border-bottom: 0.2rem solid var(--KellyGreen);
    border-top: 0.2rem solid var(--KellyGreen);
    text-align: center;
}
.programa2--club-tittle{
    color: var(--ChefchaousenBlue);
    border-color: var(--ChefchaousenBlue);
}
.programa1--club-info, .programa2--club-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.programa1--club-info p, .programa2--club-info p{
    font-size: 1.4rem;
}
.programs1--buttom, .programs2--buttom{
    text-align: center;
    margin: 4rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.programs1--buttom a, .programs2--buttom a{
    padding: 1rem 4rem;
    transition: 300ms ease-in-out;
}
.programs1--buttom a{
    color: var(--KellyGreen);
    border: 0.2rem solid var(--KellyGreen);
}
.programs2--buttom a{
    color: var(--ChefchaousenBlue);
    border: 0.2rem solid var(--ChefchaousenBlue);
}
.programs1--buttom a:hover, .programs2--buttom a:hover{
    color: var(--White);
}

.programs1--buttom a:hover{
    background-color: var(--KellyGreen);
    border: 0.2rem solid var(--KellyGreen);
}

.programs2--buttom a:hover{
    background-color: var(--ChefchaousenBlue);
    border: 0.2rem solid var(--ChefchaousenBlue);
}

/* LIDE CSS */
/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides img{
    object-fit:contain;
    width: 100%;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 4rem 0 0 4rem;
}
.prev {
    left: 0;
    border-radius: 0 4rem 4rem 0;
}

/* On hover, add a black background color with a little bit see-through */

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.community--operations h1{
    text-align: center;
    font-size: 4rem;
    color: var(--ChefchaousenBlue);
}
.operation1--con, .operation2--con{
    margin: 5rem;
    padding: 5rem;
    border-radius: 2rem;
}

.operation1--con{
    display: grid;
    grid-template-columns: 56% 36%;
    gap: 8rem;
    align-items: center;
    background-color: var(--ChefchaousenBlue);
}
.operation2--con{
    display: grid;
    grid-template-columns: 36% 56%;
    gap: 8rem;
    align-items: center;
    background-color: var(--KellyGreen);

}

.operation1--con-info, .operation2--con-info{
    color: var(--White);
}
.operation1--con-info h2, .operation2--con-info h2{
    font-size: 4rem;
    text-align: center;
    border-bottom: 0.2rem solid var(--White);
    border-top: 0.2rem solid var(--White);
    padding: 2rem 0;
}
.operation1--con-info p, .operation2--con-info p{
    font-size: 1.5rem;
}

/*  */


/* AQUI VA CODIGO DEL FOOTER */
/* .footer--con{
    background-color: rgb(0, 0, 0);
    padding: 5rem 4rem;
}
.footer--icono{
    width: 30rem;
}
.footer--up{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4rem;
    border-bottom: 0.2rem solid var(--Black);
}
.footer--enlaces ul{
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}
.footer--redes{
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
}
.footer--down{
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.footer--copy{
    font-size: 1.2rem;
} */

.reading--club-tittle{
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0;
    color: var(--KellyGreen);
    width: 80rem;
    border-top: 0.2rem solid var(--KellyGreen);
    border-bottom: 0.2rem solid var(--KellyGreen);
    margin: 4rem auto;
}
.importance-of-reading--con{
    margin: 10rem;
    display: grid;
    grid-template-columns: 58% 38%;
    gap: 4rem;
    align-items: center;
}
.importance-of-reading--con h2{
    font-size: 2.5rem;
    color: var(--KellyGreen);
}
.importance-of-reading--con p{
    font-size: 1.5rem;
}

.donate--reading{
    color: var(--White);
    background-color: var(--KellyGreen);
    padding: 5rem 10rem;
}
.donate--reading h2{
    font-size: 4rem;
    text-align: center;
}
.donate--reading p{
    font-size: 1.5rem;
    padding: 4rem 0;
}
.donate--reading-btn{
    text-align: center;
    font-size: 1.5rem;
}
.donate--reading-btn a{
    color: var(--White);
    font-weight: bold;
    border: 0.2rem solid var(--White);
    padding: 1rem 4rem;
    transition: 300ms ease-in-out;
}
.donate--reading-btn a:hover{
    background-color: var(--White);
    color: var(--KellyGreen);
}
/* RESPONSIVE */
@media screen and (max-width: 1140px) {
    .navegador--contenedor{
        justify-content: space-between;
    }
    .abrir-menu, .cerrar-menu{
        display: block;
        font-size: 2.5rem;
        color: var(--ChefchaousenBlue);
    }
    .cerrar-menu{
        color: var(--White);
        margin: 2rem;
    }
    .navegador--botones.visible{
        opacity: 1;
        visibility: visible;
    }

    .navegador--botones{
        z-index: 1;
        transition: 300ms ease;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--ChefchaousenBlue);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        text-align: center;
    }
    .navegador--botones ul{
        flex-direction: column;
        row-gap: 2rem;
    }
    .navegador--botones ul li{
        margin: 0.5rem 0;
    }
    .navegador--boton a{
        color: var(--White);
        padding-bottom: 0;
        border-bottom: none;
        transition: 400ms ease;
        padding: 1rem 6rem;
    }
    .navegador--boton a:hover{
        color: var(--White);
        padding: 1rem 6rem;
        border-bottom: none;
    }

    .navegador--boton a:before {
        background: none;
    }

    .navegador--boton a:hover:before {
        width: 0;
    }

    .donate--bottom a{
        border: none;
        padding: 1rem 6rem;
        border-color: var(--White);
        color: var(--White);
    }

    /*###############################*/
    .CardsContainer--con-encabezado h3{
        font-size: 3rem;
    }
    .CardsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
    }

    .Content h2{
        font-size: 1.6rem;
        padding: 1rem 0;
    }

    /*###############################*/

    .donate--text--con h3{
        text-align: center;
        font-size: 4rem;
        padding: 2rem 0;
    }
    .donate--text--con p{
        font-size: 1.5rem;
        text-align: center;
    }
    .donate--text--con a{
        margin-top: 6rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--ChefchaousenBlue);
        border: 0.1rem solid var(--ChefchaousenBlue);
        padding: 1rem 1.5rem;
        transition: 300ms ease;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
    }
    .donate--text--con a i{
        font-size: 1.8rem;
        padding: 0 0 0 0.5rem;
    }
    .donate--text--con{
        margin: 0 5rem;
    }
    .sendgirltocollege{
        padding: 3rem;
    }
    .sendgirltocollege--info h3{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .sendgirltocollege--info a{
        margin-top: 1rem;
    }
    .gallery--tittle{
        padding: 3rem;
        font-size: 3rem;
    }

    .programs--con{
        grid-template-columns: 100%;
    }

    .programs--items i{
        font-size: 6rem;
    }
    .programs--items-con{
        grid-template-columns: 100%;
    }

    .programs{
        padding: 5rem 3rem;
    }
    .programs--tittle--h3{
        font-size: 3rem;
    }
    .programs--items-con h3{
        font-size: 2rem;
    }

    .programs--btn-con{
        margin: 4rem 0 2rem 0;
    }
    .programs--btn-con a{
        font-size: 1.5rem;
        padding: 1.2rem 4rem;
    }

    .aboutus--tittle-con{
        padding: 0 10rem;
    }
    .aboutus--tittle{
        font-size: 3rem;
    }

    .ourmission--con, .ourstory--con{
        padding: 0 10rem;
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;
        align-items: center;
    }
    /* .ourmission--imgs, .ourstory--imgs{
        display: none;
    } */
    .ourstory--imgs{
        display: none;
    }
    .ourmission--text h3, .ourstory--text h3{
        text-align: center;
        font-size: 3rem;
    }

    .kids--text h2{
        font-size: 3rem;
    }


    .fomulario {
        padding: 8rem 10rem;
        display: grid;
        grid-template-columns: 100%;
        gap: 4rem;
    }
    .contactus--tittle h2{
        font-size: 4rem;
    }
    .redes--info h3{
        font-size: 2rem;
    }

    .programa1--club-con, .programa2--club-con{
        grid-template-columns: 100%;
        gap: 4rem;
    }
    .programa2--club-con{
        display: flex;
        flex-direction: column;
    }
    .programa2--club-img{
        order: 2;
    }
    .popup-image i{
        margin: 0 0;
        z-index: 2;
    }

    .community--operations h1{
        font-size: 3rem;
    }
    .operation1--con-info h2, .operation2--con-info h2{
        font-size: 3rem;
    }
    .operation1--con-info p, .operation2--con-info p{
        font-size: 1.5rem;
    }

    .time-line{
        margin: 0 auto;
    }
    .time-line--tittle{
        font-size: 3.5rem;
    }
    .time-line::after{
        left: 30px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
        padding: 3rem;
    }
    .timeline--fecha{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container-arrow,.right-container-arrow{
        border-left: 0;
        left: -15px;
    }
    .left-container-arrow{
        border-right: 15px solid var(--ChefchaousenBlue);
    }
    .right-container-arrow{
        border-right: 15px solid var(--KellyGreen);
    }

    .reading--club-tittle{
        font-size: 3rem;
        width: 60rem;
        margin: 4rem auto -4rem auto;
    }
    .importance-of-reading--con{
        grid-template-columns: 100%;
    }
    .importance-of-reading--con h2{
        font-size: 2.5rem;
        color: var(--KellyGreen);
    }
    .importance-of-reading--con p{
        font-size: 1.5rem;
    }

    .donate--reading h2{
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 640px) {
    .navegador--contenedor{
        padding: 2rem 1.5rem;
    }
    .navegador--botones ul{
        display: flex;
        column-gap: 2rem;
        font-size: 1.5rem;
    }
    .logo{
        width: 3.5rem;
    }
    .letras{
        width: 18rem;
    }

    .CardsContainer--con{
        padding: 5rem 3rem;
    }

    .donate--text--con{
        margin: 0 3rem;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--White);
    }
    .donate--text--con h3{
        text-align: center;
        font-size: 2.5rem;
        padding: 2rem 0;
    }
    .donate--text--con p{
        font-size: 1.5rem;
        text-align: center;
    }
    .donate--text--con a{
        margin-top: 6rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--ChefchaousenBlue);
        border: 0.1rem solid var(--ChefchaousenBlue);
        padding: 1rem 1.5rem;
        transition: 300ms ease;
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;
    }

    .donate--text--con a i{
        font-size: 1.8rem;
        padding: 0 0 0 0.5rem;
    }

    .sendgirltocollege--img{
        display: none;
    }
    .sendgirltocollege{
        padding: 5rem 3rem;
    }
    .sendgirltocollege--info h3{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .sendgirltocollege--info p{
        font-size: 1.5rem;
    }
    .gallery--tittle{
        padding: 2rem 3rem;
        font-size: 2.5rem;
    }
    .programs--items i{
        display: none;
    }


    .aboutus--tittle-con{
        padding: 0 3rem;
    }
    .aboutus--tittle{
        font-size: 3rem;
    }
    .ourmission--con, .ourstory--con{
        padding: 0 4rem;
        display: grid;
        grid-template-columns: 100%;
        gap: 2rem;
        align-items: center;
    }
    /* .ourmission--imgs, .ourstory--imgs{
        display: none;
    } */
    .ourmission--text h3, .ourstory--text h3{
        text-align: center;
        font-size: 3rem;
    }


    .fomulario {
        padding: 8rem 3rem;
    }
    .text--info h3{
        font-size: 3rem;
    }
    .redes--info h3{
        font-size: 2rem;
    }
    .contact--info{
        padding: 6rem 4rem;
    }
    .redes--link a{
        color: var(--White);
        font-size: 2rem;
        margin: 0 1rem;
    }

    .programa1--club, .programa2--club{
        padding: 3rem;
    }
    .programa1--club-tittle, .programa2--club-tittle{
        font-size: 2.5rem;

        margin: 0 0 4rem 0;
    }
    .programs--tittle{
        padding: 4rem 1rem;
        font-size: 3rem;
    }

    .community--operations h1{
        font-size: 2.5rem;
    }
    .operation1--con, .operation2--con{
        margin: 5rem 2rem;
        padding: 5rem 2rem;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: 100%;
        gap: 4rem;
        align-items: center;
    }
    .operation2--con-slide{
        order: 2;
    }
    .operation1--con-info h2, .operation2--con-info h2{
        font-size: 2.5rem;
    }

    .reading--club-tittle{
        width: auto;
        margin: 4rem ;
    }
    .importance-of-reading--con{
        margin: 5rem;
    }
    .donate--reading{
        padding: 5rem;
    }
    .donate--reading p{
        font-size: 1.5rem;
        padding: 4rem 0;
    }
    .donate--reading-btn{
        text-align: center;
        font-size: 1.5rem;
    }
    .donate--reading-btn a{
        color: var(--White);
        font-weight: bold;
        border: 0.2rem solid var(--White);
        padding: 1rem 4rem;
        transition: 300ms ease-in-out;
    }
    .donate--reading-btn a:hover{
        background-color: var(--White);
        color: var(--KellyGreen);
    }

}
/*#################*/