/* 
    Estas son las variables con los colores y fuente que se usaran.

    Se usan tipo asi: 

    font-family: var(--fuente);
    background-color: var(--azul);
*/
:root{
    --fuente: 'Poppins', sans-serif;
    --MarianBlue: #0C3D91;
    --White: #FFFFFF;
    --KellyGreen: #50A120;
    --ChefchaousenBlue: #3F8EFC;
    --Black: #000500;
}

/* 
Quitando los margenes que tenga la pagina por defecto.
*/
*{
    margin: 0;
    padding: 0;
    font-family: var(--fuente);
}

html{
    font-size: 62.5%; /*Eso es para poder utilizar los rem en el codigo css, es mejor que pixeles: 1rem = 10px*/
    box-sizing: border-box; /*Sirve para que el tamaño de una imagen se quede fija y no se agregue el tamaño de un padding, o no se llegue a agregar*/
}

*,*:before, *:after{ /*Tambien tiene que ver con lo del tamaño de la imagen*/
    box-sizing: inherit;
}
li{
    list-style: none;
}
a{
    color: var(--Black);
    text-decoration: none;
}
.contenedor{
    margin: 0 20rem;
}
/* AQUI VA CODIGO DEL HEADER */
.navegador--contenedor{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.navegador--botones{
    display: flex;
    column-gap: 2rem;
    font-size: 1.4rem;
}
.imagenes{
    display: flex;
    align-items: center;
}
.logo{
    width: 5rem;
}
.letras{
    margin-top: 1rem;
    width: 25rem;
}
.donate--bottom a{
    border: 0.1rem solid var(--ChefchaousenBlue);
    padding: 1rem 1.5rem;
    transition: 300ms ease-in-out;
    border-radius: 1rem;
    color: var(--ChefchaousenBlue);
    font-weight: bold;
}
.donate--bottom a:hover{
    color: var(--White);
    background-color:var(--ChefchaousenBlue);
}
.navegador--boton a{
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid transparent;
    transition: 400ms ease;
}
.navegador--boton a:hover{
    color: var(--ChefchaousenBlue);
    padding-bottom: 0;
    border-bottom: 0.1rem solid var(--ChefchaousenBlue);
}
.donate--anunce{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100vh;
}
.donate--text--con{
    margin: 0 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--White);
}

.donate--anunce--con{
    background-image: url(../img/header-foto.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.donate--text--con h3{
    text-align: center;
    font-size: 6rem;
    padding: 2rem 0;
}
.donate--text--con p{
    font-size: 1.5rem;
}
.donate--text--con a{
    margin-top: 6rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ChefchaousenBlue);
    border: 0.1rem solid var(--ChefchaousenBlue);
    padding: 1rem 1.5rem;
    transition: 300ms ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.donate--text--con a i{
    font-size: 2rem;
    padding: 0 0 0 1rem;
}
.donate--text--con a:hover{
    color: var(--White);
}
.donate--text--con a::after {
    content: "";
    background:var(--ChefchaousenBlue);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
.donate--text--con a:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
/* AQUI VA CODIGO DEL MAIN */


/* AQUI VA CODIGO DEL FOOTER */

